body {
  background-color: antiquewhite;
}

#header {
  height: 5vh;
}

.whole-page {
  border: 4px dotted black;
  display: flex;
  gap: 30%;
}

#col-1 {
  font-size: 50px;
  min-height: 90vh;
}

#col-2 {
  font-size: 50px;
  min-height: 90vh;
}
